{% extends "preview.html" %}

{% block title %}Browsing Data {{ block.super }}{% endblock %}

{% block content %}
	<h1>Inventory Search</h1>
	<br>
	<div id="inventory-search">
		<div class="flakes-search">
			<input class="search-box search" placeholder="Search Products" autofocus>
		</div>

		<div class="flakes-actions-bar">
			<a class="right green" href="#">Add a product</a>
			<a href="" class="delete disabled">Delete</a><a href="#" class="disabled">Edit</a>
		</div>

		<table class="flakes-table">
			<colgroup>
				<col span="1" style="width:20px" />
				<col span="1" style="width:40%" />
			</colgroup>
			<thead>
				<tr>
					<td><input type="checkbox"></td>
					<td class="company">Product Name</td>
					<td class="contact">SKU</td>
					<td class="city">City</td>
					<td class="name">Supplier</td>
				</tr>
			</thead>
			<tbody class="list">
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Dolor Fusce</a></td>
				  <td class="contact">654-1816</td>
				  <td class="city">Eritrea</td>
				  <td class="name">Daquan Parks</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Eu Sem Pellentesque</a></td>
				  <td class="contact">937-5793</td>
				  <td class="city">Macao</td>
				  <td class="name">Mechelle Kirkland</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Maecenas</a></td>
				  <td class="contact">682-9676</td>
				  <td class="city">Bahamas</td>
				  <td class="name">Warren Morales</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Augue Porttitor</a></td>
				  <td class="contact">389-1087</td>
				  <td class="city">Luxembourg</td>
				  <td class="name">Steven Madden</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Dapibus</a></td>
				  <td class="contact">893-7857</td>
				  <td class="city">Fiji</td>
				  <td class="name">Sierra Morton</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Eleifend</a></td>
				  <td class="contact">1-783-967-8521</td>
				  <td class="city">Martinique</td>
				  <td class="name">Maia Ayers</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Tincidunt</a></td>
				  <td class="contact">486-7965</td>
				  <td class="city">Malawi</td>
				  <td class="name">Ruth Lee</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Et</a></td>
				  <td class="contact">462-2201</td>
				  <td class="city">Malawi</td>
				  <td class="name">Noel Langley</td>
				</tr>
				<!--  -->
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Dolor Fusce</a></td>
				  <td class="contact">654-1816</td>
				  <td class="city">Eritrea</td>
				  <td class="name">Daquan Parks</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Eu Sem Pellentesque</a></td>
				  <td class="contact">937-5793</td>
				  <td class="city">Macao</td>
				  <td class="name">Mechelle Kirkland</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Maecenas</a></td>
				  <td class="contact">682-9676</td>
				  <td class="city">Bahamas</td>
				  <td class="name">Warren Morales</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Augue Porttitor</a></td>
				  <td class="contact">389-1087</td>
				  <td class="city">Luxembourg</td>
				  <td class="name">Steven Madden</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Dapibus</a></td>
				  <td class="contact">893-7857</td>
				  <td class="city">Fiji</td>
				  <td class="name">Sierra Morton</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Eleifend</a></td>
				  <td class="contact">1-783-967-8521</td>
				  <td class="city">Martinique</td>
				  <td class="name">Maia Ayers</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Tincidunt</a></td>
				  <td class="contact">486-7965</td>
				  <td class="city">Malawi</td>
				  <td class="name">Ruth Lee</td>
				</tr>
				<tr>
				  <td><input type="checkbox"></td>
				  <td class="company"><a href="#">Et</a></td>
				  <td class="contact">462-2201</td>
				  <td class="city">Malawi</td>
				  <td class="name">Noel Langley</td>
				</tr>
			</tbody>
		</table>

		<div class="flakes-pagination right">
			<a href="">Prev</a> &nbsp; <input value="1"> <i>of</i> 3 &nbsp; <a href="">Next</a>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ STATIC_URL }}/bower_components/list.js/dist/list.js"></script>
{% endblock %}
