{% extends "preview.html" %}

{% block title %}Dashboard {{ block.super }}{% endblock %}

{% block content %}

	<h1>Dashboard</h1>

	<script type="text/javascript" src="http://kumailht.com/responsive-elements.js"></script>


	<div id="line-example"></div>
	<div class="flakes-key-metrics" data-respond>
		<div title="A unit of account is a standard monetary unit of measurement of value/cost of goods, services, or assets. It is one of three well-known functions of money.[1] It lends meaning to profits, losses, liability, or assets.">
			<span>2,382</span><br>
			Units Sold
		</div>
		<div title="Avg. Margin refer to a measure of profitability. It is calculated by finding the net profit as a percentage of the revenue.">
			<span>18.33%</span><br>
			Avg. Margin
		</div>
		<div title="Revenue or turnover is income that a company receives from its normal business activities, usually from the sale of goods and services to customers. ">
			<span>$183,232</span><br>
			Gross Revenue
		</div>
		<div title="Profit is the difference between the purchase and the component costs of delivered goods and/or services and any operating or other expenses.">
			<span>$58,329</span><br>
			Gross Profit
		</div>
		<div title="The goods or merchandise kept on the premises of a business or warehouse and available for sale or distribution.">
			<span>$133,429</span><br>
			Stock On Hand
		</div>
		<div title="Pay back (money), typically to a customer who is not satisfied with goods or services bought.">
			<span>$19,429</span><br>
			Refunds
		</div>
	</div>
<!-- 
	<div class="legend">
		<p>
			<span style="width:10px; height:10px; display:inline-block; border-radius:20px; background:rgba(151,187,205,1)"></span>
			&nbsp; <b>Net profit</b> 
			&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="width:10px; height:10px; display:inline-block; border-radius:20px; background:rgba(151,187,205,0.5)"></span>
			&nbsp; <b>Unit Sales</b>
		</p>
	</div>
 -->

	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
	<script type="text/javascript">
/*
* Play with this code and it'll update in the panel opposite.
*
* Why not try some of the options above?
*/

	var rand = function(min, max) { return Math.floor(Math.random() * (max - min)) + min };
	var i = 0;
	var sample_data = [];
	while (i < 100) {
		var d = new Date();
		d.setDate(d.getDate() - (100 - i));

		sample_data.push({
			y: d.getTime(),
			a: rand(3000, 3600) + i * rand(20, 30),
			b: rand(1500, 2000) + i * rand(30, 40)
		});
		console.log(i)
		i++;
	}
	console.log(sample_data)
	Morris.Line({
		element: 'line-example',
		data: sample_data,
		xkey: 'y',
		ykeys: ['a', 'b'],
		labels: ['Revenue', 'Units Sold'],
		smooth: false,
		ymin: 1000,
		xLabels: 'month',
		xLabelFormat: function (d) {
			var curr_date = d.getDate();
			var curr_month = d.getMonth();
			var curr_year = d.getFullYear();
			var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];

			return monthNames[curr_month] + ' ' + curr_year;
		}
	});
	</script>

	<div class="grid-5">
		<div class="span-4">
		</div>
	</div>
{% endblock %}