{% extends "preview.html" %}

{% block title %}Editing Information {{ block.super }}{% endblock %}

{% block content %}

	<h1>Add Product</h1>

	<br>

	<div class="grid-10 gutter-20">
		<div class="span-7">
			<form class="grid-form">
				<fieldset>
					<legend>Product Details</legend>
					<div data-row-span="2">
						<div data-field-span="1">
							<label>Product Name</label>
							<input type="text">
						</div>
						<div data-field-span="1">
							<label>Tags</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="2">
						<div data-field-span="1">
							<label>Vendor</label>
							<input type="text">
						</div>
						<div data-field-span="1">
							<label>Product Type</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>Product Description</label>
							<textarea></textarea>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span-3">
			<form class="grid-form">
				<fieldset>
					<legend>Product Specs</legend>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>SKU</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>Initial Stock Level</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>Cost Price</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>Wholesale Price</label>
							<input type="text">
						</div>
					</div>
					<div data-row-span="1">
						<div data-field-span="1">
							<label>Retail Price</label>
							<input type="text">
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
