{% extends "preview.html" %}

{% block title %}Simple Grid {{ block.super }}{% endblock %}

{% block content %}
	<h1>Simple Grid</h1>
	<h3>A collection of classes to build grid based layouts with absolute ease. This is the simplest grid system you'll love to use.</h3>

	<h3>Overview</h3>
	<p>Have a look at this really simple grid and read the markup used to create it.</p>
	<div class="grid-6 gutter-10">
		<div class="span-1"><div style="background:#bbb; padding:20px"><mark>.span-1</mark></div></div>
		<div class="span-3"><div style="background:#ddd; padding:20px"><mark>.span-3</mark></div></div>
		<div class="span-1"><div style="background:#bbb; padding:20px"><mark>.span-1</mark></div></div>
		<div class="span-1"><div style="background:#ddd; padding:20px"><mark>.span-1</mark></div></div>
	</div>
<pre><code class="language-markup">&lt;div class=&quot;grid-6 gutter-10&quot;&gt;
	&lt;div class=&quot;span-1&quot;&gt;.span-1&lt;/div&gt;
	&lt;div class=&quot;span-3&quot;&gt;.span-3&lt;/div&gt;
	&lt;div class=&quot;span-1&quot;&gt;.span-1&lt;/div&gt;
	&lt;div class=&quot;span-1&quot;&gt;.span-1&lt;/div&gt;
&lt;/div&gt;
</code></pre>

	<h3>Usage</h3>
	<p>Using only three classes, we were able to create this fairly complex grid. The three classes you'll need to learn are <code>grid-n</code>, <code>gutter-n</code> and <code>span-n</code>.</p>

	<h4>.grid-n</h4>
	<p>Every grid starts here. The grid class can range from <code>grid-1</code> to <code>grid-12</code>. Where <code>n</code> is the number of columns in your grid.</p>

	<h5 style="margin-top: 0">An example grid with 6 columns:</h5>
	<div class="test-grid grid-6 gutter-10">
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
	</div>

	<br>
	<h4>.gutter-n</h4>
	<p>Columns in a grid can be spaced apart using the <code>gutter-n</code> class. Possible values for <code>n</code> are <code>10</code>, <code>20</code>, <code>30</code>, <code>40</code>, <code>50</code>, <code>60</code> or <code>80</code> pixels.</p>

	<h5 style="margin-top: 0">Example grid with a gutter of 40px:</h5>
	<div class="test-grid grid-6 gutter-40">
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
		<div class="span-1"><span></span></div>
	</div>

	<br>
	<h4>.span-n</h4>
	<p>Direct children of your grid can span multiple columns. <code>n</code> can range from <code>1</code> to the maximum number of columns in your grid.</p>

	<h5 style="margin-top: 0">Grid children spanning 3, 2 and 1 columns:</h5>
	<div class="test-grid grid-6 gutter-10">
		<div class="span-3"><span></span></div>
		<div class="span-2"><span></span></div>
		<div class="span-1"><span></span></div>
	</div>

	<br>
	<h2>Examples Grids</h2>

	<div class="test-grid grid-1 gutter-20">
		<p class="span-1 ignore-max-width"><span>1 (100%)</span></p>
	</div>
	<div class="test-grid grid-2 gutter-20">
		<p class="span-1"><span>1 (50%)</span></p>
		<p class="span-1"><span>2 (50%)</span></p>
	</div>
	<div class="test-grid grid-3 gutter-20">
		<p class="span-1"><span>1 (33.33%)</span></p>
		<p class="span-1"><span>2 (33.33%)</span></p>
		<p class="span-1"><span>3 (33.33%)</span></p>
	</div>
	<div class="test-grid grid-4 gutter-20">
		<p class="span-1"><span>1 (25%)</span></p>
		<p class="span-1"><span>2 (25%)</span></p>
		<p class="span-1"><span>3 (25%)</span></p>
		<p class="span-1"><span>4 (25%)</span></p>
	</div>
	<div class="test-grid grid-5 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
	</div>
	<div class="test-grid grid-6 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
	</div>
	<div class="test-grid grid-7 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
	</div>
	<div class="test-grid grid-8 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
		<p class="span-1"><span>8</span></p>
	</div>
	<div class="test-grid grid-9 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
		<p class="span-1"><span>8</span></p>
		<p class="span-1"><span>9</span></p>
	</div>
	<div class="test-grid grid-10 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
		<p class="span-1"><span>8</span></p>
		<p class="span-1"><span>9</span></p>
		<p class="span-1"><span>10</span></p>
	</div>
	<div class="test-grid grid-11 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
		<p class="span-1"><span>8</span></p>
		<p class="span-1"><span>9</span></p>
		<p class="span-1"><span>10</span></p>
		<p class="span-1"><span>11</span></p>
	</div>
	<div class="test-grid grid-12 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-1"><span>4</span></p>
		<p class="span-1"><span>5</span></p>
		<p class="span-1"><span>6</span></p>
		<p class="span-1"><span>7</span></p>
		<p class="span-1"><span>8</span></p>
		<p class="span-1"><span>9</span></p>
		<p class="span-1"><span>10</span></p>
		<p class="span-1"><span>11</span></p>
		<p class="span-1"><span>12</span></p>
	</div>

	<h2>Span multiple columns</h2>
	<div class="test-grid grid-6 gutter-20">
		<p class="span-1"><span>1</span></p>
		<p class="span-1"><span>2</span></p>
		<p class="span-1"><span>3</span></p>
		<p class="span-3"><span>4</span></p>
	</div>
	<div class="test-grid grid-12 gutter-20">
		<p class="span-3"><span>1</span></p>
		<p class="span-3"><span>2</span></p>
		<p class="span-3"><span>3</span></p>
		<p class="span-3"><span>4</span></p>
	</div>

	<h2>Nesting Grids</h2>
	<div class="test-grid grid-6 gutter-20">
		<div class="span-1"><span>1</span></div>
		<div class="span-1"><span>2</span></div>
		<div class="span-4"><span>
			<div class="test-grid grid-6 gutter-20">
				<p class="span-1"><span>1</span></p>
				<p class="span-1"><span>2</span></p>
				<p class="span-1"><span>3</span></p>
				<p class="span-1"><span>4</span></p>
				<p class="span-1"><span>5</span></p>
				<p class="span-1"><span>6</span></p>
			</div>
		</span></div>
	</div>
	<br>
	<div class="test-grid grid-6 gutter-20">
		<div class="span-3"><span>
			<div class="test-grid grid-6 gutter-20">
				<p class="span-1"><span>1</span></p>
				<p class="span-1"><span>2</span></p>
				<p class="span-1"><span>3</span></p>
				<p class="span-1"><span>4</span></p>
				<p class="span-1"><span>5</span></p>
				<p class="span-1"><span>6</span></p>
			</div>
		</span></div>
		<div class="span-3"><span>
			<div class="test-grid grid-6 gutter-20">
				<p class="span-1"><span>1</span></p>
				<p class="span-1"><span>2</span></p>
				<p class="span-1"><span>3</span></p>
				<p class="span-1"><span>4</span></p>
				<p class="span-1"><span>5</span></p>
				<p class="span-1"><span>6</span></p>
			</div>
		</span></div>
	</div>
{% endblock %}