{% extends "preview.html" %}

{% block title %}Getting Started {{ block.super }}{% endblock %}

{% block content %}
	<h1>Getting Started</h1>

	<br>

	<fieldset>
		<legend>Download</legend>
		<div class="grid-3 gutter-20 download-flakes">
			<div class="span-1">
				<h3>Flakes Framework</h3>
				<p>A ZIP of the CSS & Javascript files that make the Flakes Framework. <b>Dependencies must be installed using bower.</b></p>
				<a class="button-green" href="https://github.com/kumailht/flakes/archive/master.zip">Download ZIP</a>
			</div>
			<div class="span-1">
				<h3>Framework on Github</h3>
				<p>Send pull requests to Flakes on this repository. You can also create issues and start discussions here.</p>
				<a class="button-gray" href="https://github.com/kumailht/flakes/">Flakes on Github</a>
			</div>
			<div class="span-1">
				<h3>Homepage & Docs</h3>
				<p>If you want to view the source code or pull request a fix to the Flakes website & Documentation, use this repo</p>
				<a class="button-gray" href="https://github.com/kumailht/flakes-website/">Homepage & Docs</a>
			</div>
		</div>
	</fieldset>

	<br>

	<h3>Quick Start Guide</h3>

	<ol>
		<li><b><a href="https://github.com/kumailht/flakes/archive/master.zip">Download</a></b> the Flakes framework on <a href="https://github.com/kumailht/flakes">Github</a>.</li>
		<li><b>Install</b> Dependencies using the "bower install" command. If you don't have the Bower Package Manager, install it using the instructions on their <a href="http://bower.io/">official site</a>.</li>
		<li><b>Example.html</b> has some boilerplate code that you can use to get started.</li>
	</ol>

	<h3>When should I use Flakes?</h3>
	<p>Flakes is intended to be used for business facing web applications. If you're building an internal tool to help your sales team manage leads or are building an inventory tracking solution for your watch business, you'll need Flakes.</p>
	<p>Flakes is a starting point, It helps you get a quick start. It is not a collection of everything you'll ever need and it doesn't aim to become one.</p>

	<h3>What sort of layouts can I build with Flakes?</h3>
	<p>Flakes is a collection of components. These components follow the Flakes aesthetic and go well together. Since these components are low level abstractions like forms and grids, you really can build almost anything you'll need.</p>
	<p>I've built a few example layouts for you play around with. Check out the example layouts using the navigation to your left to get a feel for what is possible.</p>

	<h3>How do I contribute to Flakes?</h3>
	<p>Until now, Flakes has been a one man show with me designing and developing for it. When you work on something for long enough, you'll run out of ideas on how to improve it. If you are keen on contributing I'd love to have you make a pull request with your change. If it's a sufficiently big change, I'd recommend filing an issue on Github to discuss the change to avoid duplicate or unnecessary work.</p>

	<h3>How do I get help?</h3>
	<p>If you need help with something the documentation does not cover, send me an email and I'd be happy to help you. <a href="contact@kumailht.com">contact@kumailht.com</a></p>

	<h3>Report a bug</h3>
	<p>Please report all bugs on the Github issues page. If you have some time, I'd appreciate it a whole lot more if you could make a pull request with a fix.</p>
{% endblock %}
