{% extends "preview.html" %}

{% block title %}Documentation {{ block.super }}{% endblock %}

{% block content %}
	<h1>Getting Started</h1>

	<h3>When should you use Flakes?</h3>
	<p>Flakes is intended to be used for business facing web applications. If you're building an internal tool to help your sales team manage leads or are building an inventory tracking solution for your Watch business, you'll need Flakes.</p>
	<p>Flakes is a starting point, It helps you get a quick start. It is not a collection of everything you'll ever need and it doesn't aim to become one.</p>

	<h3>What sort of layouts can I build with Flakes?</h3>
	<p>Flakes is a collection of components. These components follow the Flakes aesthetic and go well together. Since these components are low level abstractions like forms and grids, you really can build almost anything you'll need.</p>
	<p>I've built a few example layouts for you play around with. The navigation has an 'Example Layouts' section which you should check out.</p>


	<h3>How do I start using Flakes?</h3>

	<h4>Get Flakes</h4>
	<p>Download the Flakes framework on <a href="https://github.com/kumailht/flakes">Github</a></p>

	<h4>Install Dependencies</h4>
	<p>Use Bower to install the dependencies.</p>
	<code>Bower install</code>

	<h4>Use the example</h4>
	<p>The framework comes with an example file that you'll find helpful in getting started.</p>

	<h3>How do I contribute to Flakes?</h3>
	<p>Until now, Flakes has been a one man show with me designing and developing for it. When you work on something for long enough, you'll run out of ideas on how to improve it. If you are keen on contributing I'd love to have you make a pull request with your change. If it's a sufficiently big change, I'd recommend filing an issue on Github to discuss the change to avoid duplicate or unnecessary work.</p>

	<h3>How do I get help?</h3>
	<p>If you need help with something the documentation does not cover, send me an email and I'd be happy to help you. <a href="contact@kumailht.com">contact@kumailht.com</a></p>

	<h3>Report a bug</h3>
	<p>Please report all bugs on the Github issues page. If you have some time, I'd appreciate it a whole lot more if you could make a pull request with a fix.</p>
{% endblock %}
