{% extends "preview.html" %}

{% block title %}Welcome {{ block.super }}{% endblock %}

{% block content %}
	<h1 class="welcome-title title">Welcome to Flakes</h1>
	<h2 class="welcome-subtitle">Flakes is a foundational front-end framework to build admin applications on. It is unassuming yet opinionated.</h2>

	<div class="grid-3 gutter-40">
		<div class="span-1">
			<h4>An overview to the Flakes Admin Template Framework</h4>
		</div>
	</div>

	<div class="grid-8 gutter-30">
		<div class="span-3">
			<h4>Flakes is boring</h4>
			<p>It is built on top of layers of abstractions and loosely coupled code to make building application front-ends simpler. It avoids using vain effects, styles or images that do not contribute to the function of the application. The framework does not assume to know how it will be used. That complicated mumbo jumbo just to say flakes takes care of all the boring stuff so you can launch your project faster.</p>

			<h4>Flakes uses system fonts</h4>
			<p>Instead of using webfonts, flakes uses system fonts. Webfonts by definition are slower than system fonts. They need to be downloaded over a network or fetched from a local cache. They also either hold back the rendering of a page or cause a flash of content being updated. Both of which are unacceptable when you need to get work done.</p>
		</div>
		<div class="span-3">
			<h4>Built for the real world</h4>
			<p>When designing flakes, I took the time to study plenty of real world admin and even non-admin applications. CRM software, Inventory Management, Website Admin, Transaction Management, etc. I wanted Flakes to be agnostic enough that any one of those applications could be built with it.</p>

			<h4>Flakes doesn't use images,<br> gradients or effects</h4>
			<p>Look around, there are only a handful of images in use. Gradients are non-existent and so are transition effects. This provides an experience that is quick and simple. A nice side effect is that it makes things easy for the developer which is never a bad thing.</p>
		</div>
		<div class="span-2">
			<img src="{{ STATIC_URL }}/img/preview/flakes-early-sketch.png" width="100%">
		</div>
	</div>
{% endblock %}
