{% extends "preview.html" %}

{% block title %}Information Display {{ block.super }}{% endblock %}

{% block content %}
	<h1>Leica Camera</h1>

	<p class="flakes-breadcrumbs">
		<a href="">Inventory</a> / <a href="">Cameras</a> / <a href="">Leica</a> /
	</p>

	<br><br>

	<div class="grid-10 gutter-20">
		<div class="span-7">
			<fieldset class="flakes-information-box">
				<legend>Product Details</legend>

				<div class="grid-4">
					<dl class="span-2">
						<dt>Product Name</dt>
						<dd>LEICA M-SYSTEM</dd>
					</dl>
					<dl class="span-2">
						<dt>Tags</dt>
						<dd>DSLR Cameras,</dd>
					</dl>
				</div>
				<div class="grid-4">
					<dl class="span-2">
						<dt>Vendor</dt>
						<dd>Leica Systems</dd>
					</dl>
					<dl class="span-2">
						<dt>Product Type</dt>
						<dd>Lifting</dd>
					</dl>
				</div>
				<dl>
					<dt>Product Description</dt>
					<dd>A pallet jack, also known as a pallet truck, pallet pump, pump truck, or jigger is a tool used to lift and move pallets.
		The front wheels are mounted inside the end of the forks, and as the hydraulic jack is raised, the forks are separated vertically from the front wheels, forcing the load upward until it clears the floor. The pallet is only lifted enough to clear the floor for subsequent travel.</dd>
				</dl>
			</fieldset>
		</div>
		<div class="span-3">
			<fieldset class="flakes-information-box">
				<legend>Product Specs</legend>
				<dl>
					<dt>SKU</dt>
					<dd>23-43-4343-13</dd>
				</dl>
				<dl>
					<dt>Initial Stock Level</dt>
					<dd>$314</dd>
				</dl>
				<dl>
					<dt>Cost Price</dt>
					<dd>$1200</dd>
				</dl>
				<dl>
					<dt>Wholesale Price</dt>
					<dd>$1400</dd>
				</dl>
				<dl>
					<dt>Retail Price</dt>
					<dd>$1995</dd>
				</dl>
			</fieldset>
		</div>
	</div>
{% endblock %}
