{% extends "preview.html" %}

{% block title %}Grids {{ block.super }}{% endblock %}

{% block content %}
	<h1>Read Only Information</h1>
	<p>With already available constructs, like grids, definition lists, fieldsets, legends &amp; labels; we can display read only information quite nicely and easily.</p>
	<br>
	<div class="grid-4 gutter-20">
		<div class="span-3">
			<fieldset class="flakes-information-box">
				<legend>Product Details</legend>

				<div class="grid-4">
					<dl class="span-2">
						<dt>Product Name</dt>
						<dd>Pallet Truck (3 Tons)</dd>
					</dl>
					<dl class="span-2">
						<dt>Tags</dt>
						<dd>Lifting, Industrial</dd>
					</dl>
				</div>
				<div class="grid-4">
					<dl class="span-2">
						<dt>Vendor</dt>
						<dd>Lifting Equipment LLC</dd>
					</dl>
					<dl class="span-2">
						<dt>Product Type</dt>
						<dd>Lifting</dd>
					</dl>
				</div>
				<dl>
					<dt>Product Description</dt>
					<dd>A pallet jack, also known as a pallet truck, pallet pump, pump truck, or jigger is a tool used to lift and move pallets.
		The front wheels are mounted inside the end of the forks, and as the hydraulic jack is raised, the forks are separated vertically from the front wheels, forcing the load upward until it clears the floor. The pallet is only lifted enough to clear the floor for subsequent travel.</dd>
				</dl>
			</fieldset>
		</div>
		<div class="span-1">
			<fieldset class="flakes-information-box">
				<legend>Product Specs</legend>
				<dl>
					<dt>SKU</dt>
					<dd>23-43-4343-13</dd>
				</dl>
				<dl>
					<dt>Initial Stock Level</dt>
					<dd>$314</dd>
				</dl>
				<dl>
					<dt>Cost Price</dt>
					<dd>$1200</dd>
				</dl>
				<dl>
					<dt>Wholesale Price</dt>
					<dd>$1400</dd>
				</dl>
				<dl>
					<dt>Retail Price</dt>
					<dd>$1995</dd>
				</dl>
			</fieldset>
		</div>
	</div>

<h4>Step 1: Create a grid</h4>
<p>Look at the <a href="ui__grid.php">grid documentation</a> to understand how they work. For the above example, I made a 4 column grid with two columns that span 3 and 1. A gutter of 20px helps keep the two slightly apart.</p>
<pre class="language-markup"><code>&lt;div class=&quot;grid-4 gutter-20&quot;&gt;
	&lt;div class=&quot;span-3&quot;&gt;
		...
	&lt;/div&gt;
	&lt;div class=&quot;span-1&quot;&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Step 2: The fieldset and its lists</h4>
<p>What goes inside that grid is a fieldset. The fieldset gives us a nice title and a border around our information. The definition list inside the fieldset contains the information.</p>
<pre class="language-markup"><code>&lt;fieldset class=&quot;read-only-information&quot;&gt;
	&lt;legend&gt;Product Specs&lt;/legend&gt;
	&lt;dl&gt;
		&lt;dt&gt;SKU&lt;/dt&gt;
		&lt;dd&gt;...&lt;/dd&gt;
	&lt;/dl&gt;
	&lt;dl&gt;
		&lt;dt&gt;Initial Stock Level&lt;/dt&gt;
		&lt;dd&gt;...&lt;/dd&gt;
	&lt;/dl&gt;
	&lt;dl&gt;
		&lt;dt&gt;Cost Price&lt;/dt&gt;
		&lt;dd&gt;...&lt;/dd&gt;
	&lt;/dl&gt;
	&lt;dl&gt;
		&lt;dt&gt;Wholesale Price&lt;/dt&gt;
		&lt;dd&gt;...&lt;/dd&gt;
	&lt;/dl&gt;
	&lt;dl&gt;
		&lt;dt&gt;Retail Price&lt;/dt&gt;
		&lt;dd&gt;...&lt;/dd&gt;
	&lt;/dl&gt;
&lt;/fieldset&gt;</code></pre>

<h4>Step 3: What does it look like combined</h4>
<p>That complicated looking code is just a combination of what you already know. Its a grid with 2 columns. Each contain a fieldset. The first fieldset has a nested grid. The definition lists hold the information.</p>
<pre class="language-markup"><code>&lt;div class=&quot;grid-4 gutter-20&quot;&gt;
	&lt;div class=&quot;span-3&quot;&gt;
		&lt;fieldset class=&quot;read-only-information&quot;&gt;
			&lt;legend&gt;Product Details&lt;/legend&gt;
			&lt;div class=&quot;grid-4&quot;&gt;
				&lt;dl class=&quot;span-2&quot;&gt;
					&lt;dt&gt;Product Name&lt;/dt&gt;
					&lt;dd&gt;...&lt;/dd&gt;
				&lt;/dl&gt;
				&lt;dl class=&quot;span-2&quot;&gt;
					&lt;dt&gt;Tags&lt;/dt&gt;
					&lt;dd&gt;...&lt;/dd&gt;
				&lt;/dl&gt;
			&lt;/div&gt;
			&lt;div class=&quot;grid-4&quot;&gt;
				&lt;dl class=&quot;span-2&quot;&gt;
					&lt;dt&gt;Vendor&lt;/dt&gt;
					&lt;dd&gt;...&lt;/dd&gt;
				&lt;/dl&gt;
				&lt;dl class=&quot;span-2&quot;&gt;
					&lt;dt&gt;Product Type&lt;/dt&gt;
					&lt;dd&gt;...&lt;/dd&gt;
				&lt;/dl&gt;
			&lt;/div&gt;
			&lt;dl&gt;
				&lt;dt&gt;Product Description&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
		&lt;/fieldset&gt;
	&lt;/div&gt;
	&lt;div class=&quot;span-1&quot;&gt;
		&lt;fieldset class=&quot;read-only-information&quot;&gt;
			&lt;legend&gt;Product Specs&lt;/legend&gt;
			&lt;dl&gt;
				&lt;dt&gt;SKU&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
			&lt;dl&gt;
				&lt;dt&gt;Initial Stock Level&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
			&lt;dl&gt;
				&lt;dt&gt;Cost Price&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
			&lt;dl&gt;
				&lt;dt&gt;Wholesale Price&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
			&lt;dl&gt;
				&lt;dt&gt;Retail Price&lt;/dt&gt;
				&lt;dd&gt;...&lt;/dd&gt;
			&lt;/dl&gt;
		&lt;/fieldset&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

{% endblock %}