{% extends "preview.html" %}

{% block title %}Tables {{ block.super }}{% endblock %}

{% block content %}
	<h1>Tables</h1>
	<h3>Tables have clean horizontal lines, a highlight on hover and bold headings. Data can look beautiful and be functional.</h3>

	<br>

	<table class="flakes-table">
		<colgroup>
			<col span="1" style="width:20px" />
			<col span="1" style="width:40%" />
		</colgroup>
		<thead>
			<tr>
			  <td><input type="checkbox"></td>
				<td>Product Name</td>
				<td>SKU</td>
				<td>City</td>
				<td>Supplier</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Dolor Fusce</td>
			  <td>654-1816</td>
			  <td>Eritrea</td>
			  <td>Daquan Parks</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Eu Sem Pellentesque</td>
			  <td>937-5793</td>
			  <td>Macao</td>
			  <td>Mechelle Kirkland</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Maecenas</td>
			  <td>682-9676</td>
			  <td>Bahamas</td>
			  <td>Warren Morales</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Augue Porttitor</td>
			  <td>389-1087</td>
			  <td>Luxembourg</td>
			  <td>Steven Madden</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Dapibus</td>
			  <td>893-7857</td>
			  <td>Fiji</td>
			  <td>Sierra Morton</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Eleifend</td>
			  <td>1-783-967-8521</td>
			  <td>Martinique</td>
			  <td>Maia Ayers</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Tincidunt</td>
			  <td>486-7965</td>
			  <td>Malawi</td>
			  <td>Ruth Lee</td>
			</tr>
			<tr>
			  <td><input type="checkbox"></td>
			  <td>Et</td>
			  <td>462-2201</td>
			  <td>Malawi</td>
			  <td>Noel Langley</td>
			</tr>
		</tbody>
	</table>

	<br>
	<h3>Usage</h3>
	<p>Add a class of <code>flakes-table</code> to your table to apply the Flakes aesthetic.</p>
	<pre class="language-markup"><code>&lt;table class=&quot;flakes-table&quot;&gt;</code></pre>
{% endblock %}
