
@import "../flakes/css/utils/general"

.welcome-to-flakes-page
	h1.massive
		+size(44)
		letter-spacing: -2px
		margin: 0 0 0
		position: relative
		left: -3px
		margin-top: 12px
	h2.massive
		+size(21)
		font-weight: normal
		max-width: 670px
		margin-top: 0


.dashboard-sample-table
	+breakpoints(0, 700px)
		tr td
			&:nth-child(4)
				display: none
			&:nth-child(5)
				display: none