
@import "../flakes/css/utils/general"
@import "../flakes/css/lib/normalize"
@import "../flakes/css/components/grid"

$font_jaf_facit: "jaf-facitweb"

$silver_blue: #374548
$ink_blue: #214478

*, *:before, *:after
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	font-family: helvetica, arial, sans-serif
	line-height: 1.3

a
	color: $ink_blue
	&:hover
		color: darken($ink_blue, 20%)

.block
	overflow: hidden
	.inner
		max-width: 940px
		margin: 0 auto

.intro
	background: #CCCCCC
	border-bottom: 2px solid #b3b3b3
	padding: 70px 0 50px 0
	.inner
		position: relative
		color: $silver_blue
		.hr
			width: 100%
			height: 1px
			background: #e6e6e6
			margin-top: 20px
		h1, h2, p
			max-width: 600px
		h1
			font-size: 45px
			letter-spacing: -2px
			line-height: 1
			margin-bottom: 0
		h2
			margin-top: 10px
			margin-bottom: 0
			font-size: 20px
			font-weight: normal
		p
			font-size: 14px
			margin-top: 10px
			color: lighten($silver_blue, 10%)
		a
			font-size: 18px
			font-weight: bold
		.mobile-preview
			position: absolute
			right: 0
			top: 0


.about-flakes, .design-and-research
	h1
		font-size: 45px
		letter-spacing: -2px
		word-spacing: -2px
		margin-top: 70px
		margin-bottom: 0

.about-flakes
	.sketches
		margin-top: 50px

.design-and-research

#seal-by-kumail
	margin: 50px 0 100px