{% extends "website.html" %}

{% block title %}An Admin Template Framework{% endblock %}

{% block content %}

	<div class="block intro">
		<div class="inner">
			<img class="logo" width="150px" src="{{ STATIC_URL }}/img/logo.png">
			<div class="hr"></div>
			<h1>Build better business software a lot quicker with <i>flakes</i></h1>
			<h2>
				<b>Flakes is an Admin Template Framework</b><br>
				A combination of CSS Libraries, JavaScript Libraries and Design files
		that help you build business tools very quickly.
			</h2>
			<p>Flakes was designed to be highly functional software that is user friendly, mobile ready and intuitive to use. Flakes takes a no-nonsense approach to Admin Templates.</p>

			<a href="/preview/">Live Demo</a>
			&nbsp;&nbsp;
			<a href="https://github.com/kumailht/flakes">Download on Github</a>
			
			<img class="mobile-preview" width="270px" src="{{ STATIC_URL }}/img/mobile-preview.png">
		</div>
	</div>

	<div class="block about-flakes">
		<div class="inner">
			<div class="grid-3 gutter-40">
				<div class="span-2">
					<h1>Design & Research</h1>
					<div class="grid-2 gutter-20">
						<div class="span-1">
							<p>In an attempt to build the finest — most functional Admin Template Framework, I started looking at existing implementations. I studied the admin websites that companies built for their internal use and backend applications on the market.</p>
							<p>Unsurprisingly, these admin websites were universally inferior to their public facing counterparts. The user experience is unpleasant to say the least. Mobile readiness nonexistent. And an aesthetic that is as old as the internet itself.</p>
							<p>Flakes is different. Well designed from the ground up. An uncluttered interface that lets you get work done without jarring your sensibilities. Responsive so you can manage your business on the go. Built around a component architecture for easy development. And much more.</p>
						</div>
						<div class="span-1">
							<p>The Flakes aesthetic is sharp, uncluttered & task driven. Flakes is not influenced by trends because our customers intend to keep using it for many years.</p>
							<p>Thousands of hours are spent on admin applications. That makes speed a feature and a priority. Flakes was designed to be weightless. It goes away with custom fonts, heavy images or slow loading libraries. All you are left with is a blazingly fast framework.</p>
						</div>
					</div>
				</div>
				<div class="span-1">
					<img class="sketches" width="350px" src="{{ STATIC_URL }}/img/sketches.png">
				</div>
			</div>
		</div>
	</div>

	<div class="block design-and-research">
		<div class="inner">
			<h1>About the Framework</h1>
			<img class="devices" width="100%" src="{{ STATIC_URL }}/img/devices.png">
			<div class="grid-3 gutter-40">
				<div class="span-2">
					<div class="grid-2 gutter-20">
						<div class="span-1">
							<p>In an attempt to build the finest — most functional Admin Template Framework, I started looking at existing implementations. I studied the admin websites that companies built for their internal use and backend applications on the market.</p>
							<p>Unsurprisingly, these admin websites were universally inferior to their public facing counterparts. The user experience is unpleasant to say the least. Mobile readiness nonexistent. And an aesthetic that is as old as the internet itself.</p>
							<p>Flakes is different. Well designed from the ground up. An uncluttered interface that lets you get work done without jarring your sensibilities. Responsive so you can manage your business on the go. Built around a component architecture for easy development. And much more.</p>
						</div>
						<div class="span-1">
							<p>The Flakes aesthetic is sharp, uncluttered & task driven. Flakes is not influenced by trends because our customers intend to keep using it for many years.</p>
							<p>Thousands of hours are spent on admin applications. That makes speed a feature and a priority. Flakes was designed to be weightless. It goes away with custom fonts, heavy images or slow loading libraries. All you are left with is a blazingly fast framework.</p>
						</div>
					</div>
				</div>
				<div class="span-1"></div>
			</div>
		</div>
	</div>

	<div class="block" id="seal-by-kumail">
		<div class="inner">
			<img class="sign" width="180px" src="{{ STATIC_URL }}/img/sign.png">
			<p>Designed & developed by <br><b><a href="http://kumailht.com">Kumail Hunaid</a></b></p>
		</div>
	</div>
{% endblock %}